.form-control {
    @apply text-[16px] 
        px-0
        py-3
        border-b
        outline-none
        bg-transparent
        w-full
        transition-all
        duration-300
        border-opacity-30
        text-white
        border-white
        placeholder:text-white
        focus:border-opacity-100
        focus:placeholder:text-opacity-100;

    &--dark {
        @apply text-dark
        border-dark
        border-opacity-30
        placeholder:text-dark;
    }
}
