* {
    @apply font-base;
}

body {
    @apply text-[14px] leading-normal min-w-[var(--app-min-width)];
}

.centered {
    @apply w-[var(--container-width)] max-w-full px-5 mx-auto;
}

a:not([class]) {
    @apply no-underline hover:underline;
}

h1 {
    @apply text-[28px] 
        mb-5 
        font-bold 
        md:text-[48px] 
        lg:text-[64px] 
        lg:mb-8;
}

.backface-cover {
    @apply relative;
}
