* {
    @apply font-base;
}

body {
    @apply text-[14px] leading-normal min-w-[var(--app-min-width)];
}

.centered {
    @apply w-[var(--container-width)] max-w-full px-5 mx-auto;
}

a:not([class]) {
    @apply no-underline hover:underline;
}

h1,
.h1 {
    @apply text-[30px] 
        mb-5 
        font-bold
        leading-[1.3] 
        md:text-[48px] 
        lg:text-[64px] 
        lg:mb-8;
}

.backface-cover {
    @apply relative 
    z-[5]
    before:rounded-[inherit]
    before:content-['']
    before:absolute
    before:inset-0
    before:-z-[1]
    before:bg-white
    before:bg-opacity-80;

    &--dark {
        @apply before:bg-black
        before:bg-opacity-30;
    }
}
